.home {
  background-color: #19212a;
  padding: 20px 0 40px 0;
}

.film__card--container {
  width: calc(100% / 8);
  transition: all 300ms ease;
  overflow: hidden;
}

.film__card--img {
  height: 300px;
  border-radius: 20px;
  padding: 5px;
}

.film__card--title .film__card--year .film__card--id {
  z-index: 100;
}

.row__movies {
  display: flex;
  flex-wrap: wrap;
}